<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<add name="MYDB" connectionString="Data Source=192.168.0.16\MSSQLSERVER,1584; 
		 Initial Catalog=MYDB; User ID=sa;Password=12345"/>
	</connectionStrings>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>